.bg{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
    height: 200px;
}