.wrapper{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    align-self: flex-end;
}

.buttons{
    align-self: flex-end;
    display: flex;
    gap: 8px;
    flex: 1;
}

.playButton{
    flex: 1;
    min-width: 250px;
}

.skinButton, .logoutButton{
    min-width: 120px;
}

.settings{
    position: absolute;
    left: 16px;
    top: 16px;
}